body, html {
    height: 100%;
    width: 100%;
}

.centered {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    margin: auto auto;
}

.ellipse {
    -webkit-clip-path: circle(250px);
}

.circle {
    border-radius: 50%;
}

.profile_image {
    height: 100%;
    background: url("http://us.battle.net/static-render/us/llane/16/102552080-profilemain.jpg") center;
}

#radial_menu {
    width: 550px;
    height: 550px;
}

.menu_item {
    height: 1px;
    width: 1px;
    overflow: visible;
}

.menu_item_icon {
    height: 40px;
    width: 40px;
    position: relative;
    top: -20px;
    left: -20px; /*Shift image so animations are done using the center of the icon*/
}